#!/usr/bin/env xdg-open
[Desktop Entry]
Name=SimpleMD
Comment=Minimal markdown editor with live preview
Exec=simplemd
Icon=io.github.gottstaff.SimpleMD
Type=Application
Terminal=false
Categories=Utility;TextEditor;
StartupWMClass=io.github.gottstaff.SimpleMD
